body {
    background-color: yellowgreen;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
}

#rodzic {
    border: 1px solid red;
}
.dziecko{
    display: inline-block;
    float:left;
    background-color: lightsalmon;
    border: 5px, solid black;
}